header{
    width: 100%;
    background: linear-gradient( to right, rgba(244, 67, 54, 0.7), rgba(0,0,0,0.7));
}

header ul{
    text-align: center;
}


header ul li{
    list-style: none;
    display: inline-block;
}

header ul li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 25px;
    transition: all ease 0.5s;

}

header ul li a:hover{
    background-color: #211b4385;
}